{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ asset('css/admin/adminShowRestaurant.css') }}" />
{% endblock %}

{% block body %}


<div class="container pt-5">
    <div class="row">   
    
        <div class="col-12">
            <div class="row no-gutters">

                <div class="d-flex">
                    <img src="{{ asset('uploads/' ~ restaurant.logo) }}" alt="Illustration of {{restaurant.name}}" class='profil'/>
                    <div class="info">
                        <h1 class="card-title">{{restaurant.name}}</h1>
                        <p style="text-align: justify;">{{ restaurant.address }}  {{ restaurant.postalCode }},  {{ restaurant.city }}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-body">
                        <h3 class="card-title">Description : </h3>
                        <p style="text-align: justify;">{{restaurant.description}}</p>                        
                    </div>
                </div>


            </div> 
        </div> 

        <div class="">
        {% for plat in plats %}
          <label>
            <span class="bt">
                <a class="Lats">
                    <figure>
                      <div class="price"><span >{{plat.price}} €</span></div>
                      <figcaption>
                        <img class="imgModal" src="{{ asset('uploads/' ~ plat.image) }}">
                                               
                      </figcaption>
                    </figure>
                </a>
            </span>
            <input type="checkbox" />
            <div class="confirm-modal">
              <form action="" >
                <img class="imgModal" src="{{ asset('uploads/' ~ plat.image) }}">
                <h4>Ajouter au panier</h4>
                <button class="btn">
                <a href="{{ path('home') }}"></a>
                Ajouter {{plat.price}}</button>
                {# voir bouton de la modal #}
              </form>
            </div>
        </label>
        {% else %}
        <div class="alert alert-warning" role="alert">
          Aucun plats pour le moment
        </div>
         
                        

        {% endfor %}
        </div>   
          
    </div>
</div>


{% endblock %}


{# <div class="container">
  <div class="overlay">
    <div class = "items"></div>
    <div class = "items head">
      <p>NOM</p>
      <hr>
    </div>
    <div class = "items price">
      <p class="new">12€</p>
    </div>
    <div class="items cart">
      <i class="fa fa-shopping-cart"></i>
      <span>Ajouter au panier</span>
  </div>
</div>
</div> #}