{% extends 'base.html.twig' %}

{% block title %}Editer un plat{% endblock %}

{% block stylesheets %}
    
    <link rel="stylesheet" href="{{ asset('css/admin/adminForm.css') }}" />
{% endblock %}

{% block body %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
            
                <div class="d-flex justify-content-between">
                    <h1>Editer plat : {{plat.id}}</h1>
                    {{ include('restaurateur/plat/_delete_form.html.twig') }}
                </div>
                
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('restaurateur.dashboard') }}">Tableau de Bords</a></li>
                    <li class="breadcrumb-item active">Editer plat {{plat.id}}</li>
                </ol>
                
                <div class="cart">
                    {{ include('restaurateur/plat/_form.html.twig', {'button_label': 'Update'}) }}
                </div>            
                
            </div>
        </div>
    </div>

{% endblock %}
