{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/admin/adminShowRestaurant.css') }}" />
{% endblock %}

{% block body %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">

                <h1>Détails du restaurant : {{ restaurant.name }}</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('restaurateur.dashboard') }}">Tableau de Bord</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('restaurateur.restaurant.all') }}">Liste des Restaurants</a></li>
                    <li class="breadcrumb-item active">Restaurant {{ restaurant.name }}</li>
                </ol>
                </div>
            
                <div class="row no-gutters">

                    <div class="d-flex">
                        <img src="{{ asset('uploads/' ~ restaurant.logo) }}" alt="Illustration of {{restaurant.name}}" class='profil'/>
                        <div class="info">
                            <h3 class="card-title">Nom : {{restaurant.name}}</h3>
                            <h5>Type : {{restaurant.type.name}} </h5>
                        </div>
                    </div>
                        
                    <div class="card-body">
                        <h3 class="card-title">Description : </h3>
                        <p style="text-align: justify;">{{restaurant.description}}</p>
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <h3 class="card-title">Contact : </h3>
                                <p style="text-align: justify;">{{restaurant.email}}</p>
                            </div>
                            <div class="col-md-4">
                                <h3 class="card-title">Localisation : </h3>
                                <p style="text-align: justify;">{{ restaurant.address }}  {{ restaurant.postalCode }},  {{ restaurant.city }}</p>
                            </div>                            
                            <div class="col-md-4">
                                <h3 class="card-title">Actions :</h3>
                                <div class="row justify-content-around">
                                    <button class="btn"><a  style="color:white;" href="{{ path('restaurateur.orders', {'id': restaurant.id}) }}">Historique de Commandes</a></button>
                                    <button class="btn">
                                        <a href="{{ path('restaurateur.restaurant.edit', {'id': restaurant.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="color:white;">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a>
                                    </button>
                                    {{ include('restaurateur/restaurant/_delete_form.html.twig') }}
                                </div>
                            </div>                        
                         </div>                        
                    </div>

                
                </div>   
                    
                <div class="col-12">
                    <hr class="mb-4">
                    <div class=" d-flex justify-content-between">
                        <h3 class="card-title">Plats : </h3>
                        <button class="btn" style="background-color: rgb(20,33,61);">
                                <a href="{{ path('restaurateur.plat.new', {restaurant: restaurant.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" style="color:white;">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>
                        </button>                
                    </div>

                    
                    <div class="card-deck">                
                        {% for plat in plats %}
                            {{ include('restaurateur/plat/index.html.twig') }}
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                Aucun plat pour le moment
                            </div>
                        {% endfor %}
                    </div> 
                </div> 
                           
                
            </div>
        </div>
    </div>



{% endblock %}
