{% extends 'base.html.twig' %}

{% block title %}Editer un restaurant{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/adminForm.css') }}" />
{% endblock %}

{% block body %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">

                <div class="d-flex justify-content-between">
                    <h1>Editer restaurant : {{restaurant.id}}</h1>
                    {{ include('restaurant/_delete_form.html.twig') }}

                </div>
                
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin.dashboard') }}">Tableau de Bord</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('restaurant_index') }}">Liste des Restaurant</a></li>
                    <li class="breadcrumb-item active">Editer restaurant {{restaurant.id}}</li>
                </ol>
                
                <div class="cart">
                    {{ include('restaurant/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
