{% extends 'base.html.twig' %}

{% block title %}Notation d'un plat{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" />
{% endblock %}

{% block body %}

    <div class="container pt-5 mt-5">
        <div class="row">

            <section class="boutton">
                <div class="col-12 col-md-5">
                    <div class="btn-1">
                        <a  class="btn btn-lg btn-outline-warning"href="{{ path('profil.show') }}">Profil</a>
                    </div>
                    <div class="btn-1">
                        <a class="btn btn-lg btn-outline-warning" href="{{ path('profil.order.progress') }}">Commandes en cours</a>
                    </div>
                    <div class="btn-1">
                        <a class="btn btn-lg btn-outline-warning" href="{{ path('profil.order.delivered') }}">Commandes livrées</a>
                    </div>
                    
                </div>
            </section>
            
            <div class="col-12 col-md-9">
            
                <h3>Notation d'un plat : </h3>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-warning">{{ button_label|default('Je valide !') }}</button>
                {{ form_end(form) }}

            </div>
  
        </div>
    </div>
          
{% endblock %}

