{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/profil.css') }}" />
{% endblock %}

{% block body %}

    <div class="container pt-5 mt-5">
        <div class="row">

            <section class="boutton">                   
                <div class="col-12 col-md-5">
                    <div class="btn-1">
                        <a  class="btn btn-lg btn-outline-warning"href="{{ path('profil.show') }}">Profil</a>
                    </div>
                    <div class="btn-1">
                        <a class="btn btn-lg btn-outline-warning" href="{{ path('profil.order.progress') }}">Commande en cours</a>
                    </div>
                    <div class="btn-1">
                        <a class="btn btn-lg btn-outline-warning" href="{{ path('profil.order.delivered') }}">Commandes livrées</a>
                    </div>
                    
                </div>
            </section>
            
            <div class="col-12 col-md-9">
            
                <h3>{{title}}</h3>
                {% for order in orders %}
                    <div class="cart shadow p-3 mb-5 bg-white rounded">
                        <div class="cart-content p-4">
                            <div class="d-flex justify-content-around">
                                <div class="id">#{{ order.id }}</div>
                                <div class="date"><b>Date :</b> {{ order.orderedAt | date('Y-m-d H:i:s') }}</div>
                                <div class="restaurant"><b>Restaurant :</b> {{ order.restaurant.name }}</div>
                                <div class="price"><b>Prix Total :</b> {{ order.priceTotal}}€</div>
                            </div>
                        </div>
                    </div>
                {% else %}                
                    <div class="cart shadow p-3 mb-5 bg-white rounded">
                        <div class="cart-content p-4">
                        {{empty}}
                        </div>
                    </div>
               {% endfor %}
               
            </div>

        </div>
    </div>
            
{% endblock %}
