{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" />
{% endblock %}

{% block body %}

    <div class="container pt-5 mt-5">
        <div class="row">

            <section class="recherche">

                <section class="boutton">
                    <div class="col-12 col-md-5">
                        <div class="btn-1">
                            <a class="btn btn-lg btn-outline-warning" href="{{ path('profil.edit') }}">Editer le profil</a>
                        </div>
                        <div class="btn-1">
                            <a class="btn btn-lg btn-outline-warning" href="{{ path('profil.order.progress') }}">Commandes en cours</a>
                        </div>
                        <div class="btn-1">
                            <a class="btn btn-lg btn-outline-warning" href="{{ path('profil.order.delivered') }}">Commandes livrées</a>
                        </div>
                        
                    </div>
                </section>

                <div class="col-6 col-md-7">
                    <h3>Mon profil : </h3>
                    <div class="row shadow p-3 mb-5 bg-white rounded">
                        <div class="col-sm-2 col-md-3">
                            <img src="../img/user-profile.png"  alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <blockquote>
                                <p>{{user.name}} {{user.firstName}}</p> <small><cite title="Source Title">{{user.address}}, {{user.postalCode}} {{user.city}}  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                            </blockquote>
                            <p> <i class="glyphicon glyphicon-envelope"></i> {{user.email}}
                                <br
                                /> <i class="glyphicon glyphicon-globe"></i> Balance : {{user.balance}}
                                </p>
                        </div>
                    </div>                                  
                </div>

            </section>

        </div>
    </div>

{% endblock %}
